.imgBox {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBox img {
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

.imgBox img:hover {
    cursor: pointer;
}
